* {
  box-sizing: border-box;
}

html,
body {
  font-family: $font-family;
  font-weight: 400;
  background-color: $background-color;
  height: 100%
}

#root, #root > .App, #root > .App > .container {
  height: 100%;
}

.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
}
