.favorite-container {
  cursor: pointer;
  display: inline-block;
  input {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }
  .favorite-visuals {
    display: flex;
    align-items: baseline;
    &.disabled {
      cursor: not-allowed;
      .favorite-label {
        color: $disabled-light;
      }
      .icon {
        stroke: $disabled-light;
      }
    }
    .favorite-label {
      user-select: none;
      font-size: 1rem;
      line-height: 1.23;
      color: $text-color;
      margin-right: 0.5rem;
      flex: 1;
    }
    .icon {
      fill: transparent;
      stroke: $accent-color;
      stroke-width: 20px;
      height: 20px;
      width: 20px;
      transform: rotateZ(225deg);
      &.checked {
        fill: $accent-color;
      }
    }
  }
}
