.weather-info-layout {
  .weather-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    @import 'weather-header';
    .weather-info-content {
      margin-top: 2rem;
      height: 100%;
      display: flex;
      flex: 1 1 auto;
      .weather-details-container {
        flex: 1.5;
        height: 100%;
        padding-right: 2rem;
        border-right: 1px solid $border-color;
        @import 'weather-details';
      }
      .notes-section-container {
        flex: 1;
        height: 100%;
        padding-left: 2rem;
        @import 'notes-section';
      }
    }
  }

  @include mobile {
    .page-content {
      background-color: transparent;
      padding: 0;
      .weather-info {
        .weather-info-content {
          margin-top: 1rem;
          flex-direction: column;
          .weather-details-container {
            flex: unset;
            background: $accent-light;
            padding: 1rem;
          }
          .notes-section-container {
            flex: unset;
            margin-top: 1rem;
            padding: 1rem;
            background: $accent-light;
          }
        }
      }
    }
  }
}
