.weather-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
  border-bottom: 1px solid $border-color;
  .title {
    h1 {
      margin: 0;
    }
  }
}