.page-content {
  padding: 2rem;
  background-color: $accent-light;
  flex: 1;
  border-bottom: 2rem solid transparent;
  background-clip: padding-box;
  @include mobile {
    padding: 1rem;
    border-bottom-width: 1rem;
  }
}
