$background-color: #eee;
$text-color: #14131d;

$accent-color: #6d3fdf;
$accent-dark: #392b70; 
$accent-light: #fff;

$disabled-dark: #444;
$disabled-light: #bbb;

$error-color: #ff4343;

$font-family: 'Montserrat', sans-serif;

@mixin laptop {
  @media screen and (max-width: 992px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 576px) {
    @content;
  }
}
