.home-layout {
  .home {
    height: 100%;
    .city {
      word-break: break-word;
    }
  }
  
  @include mobile {
    .home {
      .temperature {
        .fahrenheit {
          display: none;
        }
      }
      .restore, .remove {
        padding: 0.5rem 0.5rem;
        font-size: 0.75rem;
      }
    }
  }
}
